<mat-card>
	<mat-card-title>Login</mat-card-title>
	<mat-card-content>
		<form role="form" (ngSubmit)="loginUser()">
			<p>
				<mat-form-field>
					<input type="text" matInput id="username" name="username" placeholder="Username"
						[(ngModel)]="credentials.username">
				</mat-form-field>
			</p>

			<p>
				<mat-form-field>
					<input type="password" matInput id="password" name="password" placeholder="Password"
						[(ngModel)]="credentials.password">
				</mat-form-field>
			</p>

			<p *ngIf="error" class="error">
				Login ou mot de passe invalide
			</p>

			<div class="button">
				<button type="submit" mat-button>Login</button>
			</div>

		</form>
	</mat-card-content>
</mat-card>