<!-- Toolbar -->
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="sidenav.toggle()" style="height: 50px;">
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp;&nbsp; &nbsp;
  &nbsp; &nbsp;&nbsp;
  <img src="assets/Gift_management.png"/>
  &nbsp;&nbsp;
  <span>GIFT MANAGEMENT</span>
  <div class="spacer"></div>
  <mat-icon>account_circle</mat-icon>
  &nbsp;&nbsp;
  <mat-label>
    Personal data
  </mat-label>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>pan_tool</mat-icon>
      <span>Mon Identité</span>
    </button>
    <button mat-menu-item>
      <mat-icon>live_help</mat-icon>
      <span>Aide</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>vpn_lock</mat-icon>
      <span>Deconnection</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="content" role="main">
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <menuprincipal></menuprincipal>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>

</div>



